@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fraunces", serif;
}

body {
  background: #FEFCF7;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
}

ul {
  list-style: none;
  padding: 50px 0px;
}

a {
  text-decoration: none;
}

.nav .fa-bars {
  display: none;
  font-size: 30px;
}

.nav__sidebarmobile {
  height: 100vh;
  width: 300px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__menumobile {
  list-style-type: none;
  font-size: 22px;
  margin-top: 50px;
}
.nav__menumobile li {
  margin: 20px 0;
}
.nav__menumobile li a {
  text-decoration: none;
  color: gray;
}
.nav__menumobile .fa-times {
  top: 10px;
  position: absolute;
  left: -25px;
}

.nav ul {
  padding: 50px 0px;
  gap: 33px;
}

.nav ul li {
  color: #83888F;
}

.nav ul li a {
  color: #83888F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
}

.nav ul li a:hover {
  color: #000;
}

.hero .container .wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.hero .text {
  position: absolute;
  top: 60px;
  left: 86px;
}
.hero .text h1 {
  font-size: 72px;
  font-weight: 900;
  color: #fff;
}
.hero .text p {
  color: #FEFCF7;
  max-width: 445px;
  margin-top: 32px;
  margin-bottom: 56px;
  opacity: 0.8;
  line-height: 26px;
}
.hero .text .btn {
  background: #66D2CF;
  color: #FEFCF7;
  padding: 15px 30px;
  border-radius: 6px;
  font-size: 18px;
}

.products {
  padding-top: 200px;
  padding-bottom: 188px;
  position: relative;
}
.products .bg_text {
  font-size: 160px;
  font-weight: 900;
  text-align: center;
  background: -webkit-linear-gradient(rgba(131, 136, 143, 0.4274509804), rgba(131, 136, 143, 0.0156862745));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 100px;
  left: 17%;
  z-index: -1;
}
.products .item {
  z-index: 1;
  position: relative;
}
.products .item img {
  margin-bottom: 70px;
}
.products .item .text {
  max-width: 255px;
  text-align: center;
}
.products .item .text b {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}
.products .item .text p {
  margin-top: 20px;
}

.choise {
  color: #FEFCF7;
}
.choise .container {
  background: #2C343E;
  border-radius: 10px;
  text-align: center;
  height: 577px;
}
.choise .container h2 {
  padding-top: 112px;
  margin-bottom: 32px;
  font-size: 40px;
}
.choise .container p {
  opacity: 0.8;
  max-width: 576px;
  line-height: 26px;
  margin: auto;
  font-size: 16px;
}

.cards {
  margin-top: -240px;
}
.cards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.cards .card {
  background: #0E8784;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 382px;
}
.cards .card img {
  margin-bottom: 56px;
}
.cards .card .text {
  color: #fff;
  text-align: center;
}
.cards .card .text b {
  font-size: 24px;
}
.cards .card .text p {
  margin-top: 24px;
  max-width: 255px;
}

.work {
  padding: 200px 0px;
}
.work h2 {
  margin-bottom: 90px;
  font-size: 24px;
  color: #83888F;
}
.work .cosmetics {
  max-width: 760px;
  margin-bottom: 80px;
}
.work .cosmetics .round {
  border-radius: 50%;
  width: 31px;
  height: 31px;
  border: 2px solid #0E8784;
}
.work .cosmetics .line {
  height: 2px;
  background: #FDD6BA;
  width: 335px;
}
.work .i {
  margin-bottom: 80px;
}
.work .i h3 {
  font-size: 72px;
  font-weight: 900;
  color: #FDD6BA;
  margin-bottom: 40px;
}
.work .i b {
  font-size: 32px;
  font-weight: 900;
  color: #333D4B;
}
.work .i p {
  margin-top: 42px;
  max-width: 314px;
  color: #333D4B;
}
.work .btn_aqua {
  padding: 15px 30px;
  font-size: 18px;
  background: #66D2CF;
  margin-top: 80px;
  color: #fff;
  border-radius: 6px;
  font-weight: 900;
}

.footer {
  margin-bottom: 135px;
}
.footer .container {
  background: #2C343E;
}
.footer .container .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 33px;
}
.footer .container .ul .li {
  color: #fff;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
}
.footer .container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

@media only screen and (max-width: 1372px) {
  .products .bg_text {
    display: none;
  }
  .flex__products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 689px;
  }
  .hero .bg_hero {
    position: relative;
    top: 0;
    left: -205px;
  }
  .hero .text h1 {
    font-size: 48px;
  }
  .hero .text p {
    font-size: 15px;
    margin-top: 24px;
    margin-top: 55px;
  }
  .hero .text .btn {
    background: #0E8784;
    font-weight: 900;
  }
  .products .flex__products {
    gap: 40px 0px;
  }
  .products .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 36px;
  }
  .products .item img {
    margin-bottom: 0px;
  }
  .products .item .text {
    text-align: left;
  }
  .products .item .text p {
    font-family: "Barlow", sans-serif;
  }
  .cards .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 55px;
    width: 537px;
    height: 180px;
  }
  .cards .card img {
    margin-bottom: 0px;
  }
  .cards .card .text {
    text-align: left;
  }
  .work {
    padding-top: 144px;
  }
  .work .flex {
    gap: 10px;
  }
  .work h2 {
    margin-bottom: 50px;
  }
  .work .cosmetics {
    margin-bottom: 60px;
  }
  .work .i {
    margin-bottom: 44px;
  }
  .work .i b {
    font-size: 28px;
  }
  .work .i p {
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    line-height: 25px;
  }
  .footer .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 54px 0px;
  }
  .footer .flex .logo {
    margin-bottom: 33px;
  }
  .footer .flex .text {
    margin-bottom: 65px;
  }
}
@media only screen and (max-width: 650px) {
  .container {
    max-width: 367px;
  }
  .nav {
    padding: 30px 0px;
  }
  .nav img {
    width: 162px;
  }
  .nav .ul {
    display: none;
  }
  .nav .fa-bars {
    display: block;
    font-size: 25px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .text {
    top: 100px;
    left: 24px;
    text-align: center;
  }
  .hero .text h1 {
    font-size: 30px;
  }
  .hero .text p {
    font-size: 14px;
    max-width: 279px;
    margin-top: 24px;
    margin-bottom: 54px;
  }
  .products .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products .item .text {
    text-align: center;
    max-width: 282px;
  }
  .choise .container {
    height: 902px;
  }
  .choise .container h2 {
    font-size: 28px;
    padding-top: 64px;
  }
  .choise .container p {
    font-size: 15px;
    margin-top: 24px;
  }
  .cards {
    margin-top: -570px;
  }
  .cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 279px;
    height: 382px;
  }
  .cards .card .text {
    text-align: center;
  }
  .work h2 {
    text-align: center;
  }
  .work img {
    display: none;
  }
  .work .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */