@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

body {
    background: #FEFCF7;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
}

ul {
    list-style: none;
    padding: 50px 0px;
}

a {
    text-decoration: none;
}

// NavBar

.nav {
    .fa-bars {
        display: none;
        font-size: 30px;
    }

}

.nav__sidebarmobile {
    // display: none;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    display: flex;
    // box-shadow: $main-shadow;
    justify-content: center;
    right: -100%;
    transition: 0.3s;
}

.nav__menumobile {
    list-style-type: none;
    font-size: 22px;
    margin-top: 50px;

    li {
        margin: 20px 0;

        a {
            text-decoration: none;
            color: gray;
        }
    }

    .fa-times {
        top: 10px;
        position: absolute;
        left: -25px;
    }
}

.nav ul {
    padding: 50px 0px;
    gap: 33px;

}

.nav ul li {
    color: #83888F;
}

.nav ul li a {
    color: #83888F;
    transition: 0.3s;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
}

.nav ul li a:hover {
    color: #000;
}

// Hero

.hero .container .wrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.hero .text {
    position: absolute;
    top: 60px;
    left: 86px;

    h1 {
        font-size: 72px;
        font-weight: 900;
        color: #fff;
    }

    p {
        color: #FEFCF7;
        max-width: 445px;
        margin-top: 32px;
        margin-bottom: 56px;
        opacity: 0.8;
        line-height: 26px;
    }

    .btn {
        background: #66D2CF;
        color: #FEFCF7;
        padding: 15px 30px;
        border-radius: 6px;
        font-size: 18px;
    }

}

// Products

.products {
    padding-top: 200px;
    padding-bottom: 188px;
    position: relative;



    .bg_text {
        font-size: 160px;
        font-weight: 900;
        text-align: center;
        background: -webkit-linear-gradient(#83888f6d, #83888f04);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 100px;
        left: 17%;
        z-index: -1;

    }

    .item {
        z-index: 1;
        position: relative;
    }

    .item img {
        margin-bottom: 70px;
    }

    .item .text {
        max-width: 255px;
        text-align: center;

        b {
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 900;
        }

        p {
            margin-top: 20px;
        }
    }

}

.choise {
    color: #FEFCF7;

    .container {
        background: #2C343E;
        border-radius: 10px;
        text-align: center;
        height: 577px;


        h2 {
            padding-top: 112px;
            margin-bottom: 32px;
            font-size: 40px;
        }

        p {
            opacity: 0.8;
            max-width: 576px;
            line-height: 26px;
            margin: auto;
            font-size: 16px;
        }
    }
}

.cards {
    margin-top: -240px;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px
    }

    .card {
        background: #0E8784;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        height: 382px;

        img {
            margin-bottom: 56px;

        }

        .text {
            color: #fff;
            text-align: center;

            b {
                font-size: 24px;
            }

            p {
                margin-top: 24px;
                max-width: 255px;
            }
        }
    }
}

.work {
    padding: 200px 0px;

    h2 {
        margin-bottom: 90px;
        font-size: 24px;
        color: #83888F;
    }

    .cosmetics {
        max-width: 760px;
        margin-bottom: 80px;

        .round {
            border-radius: 50%;
            width: 31px;
            height: 31px;
            border: 2px solid #0E8784;
        }

        .line {
            height: 2px;
            background: #FDD6BA;
            width: 335px;
        }
    }

    .i {
        margin-bottom: 80px;

        h3 {
            font-size: 72px;
            font-weight: 900;
            color: #FDD6BA;
            margin-bottom: 40px;
        }

        b {
            font-size: 32px;
            font-weight: 900;
            color: #333D4B;
            // margin-bottom: 42px;
        }

        p {
            margin-top: 42px;
            max-width: 314px;
            color: #333D4B;
        }
    }

    .btn_aqua {
        padding: 15px 30px;
        font-size: 18px;
        background: #66D2CF;
        margin-top: 80px;
        color: #fff;
        border-radius: 6px;
        font-weight: 900;
    }
}

.footer {
    margin-bottom: 135px;

    .container {
        background: #2C343E;

        .ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 33px;

            .li {
                color: #fff;
                font-family: 'Barlow', sans-serif;
                text-transform: uppercase;
            }
        }

        .icons {
            // gap: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }
    }
}


@media only screen and (max-width:1372px) {
    .products .bg_text {
        display: none;
        // font-size: 90px;
    }

    .flex__products {
        flex-wrap: wrap;
        gap: 30px 20px;
    }
}

@media only screen and (max-width:768px) {
    .container {
        max-width: 689px;
    }

    // Hero

    .hero {
        .bg_hero {
            position: relative;
            top: 0;
            left: -205px;
        }

        .text {
            h1 {
                font-size: 48px;
            }

            p {
                font-size: 15px;
                margin-top: 24px;
                margin-top: 55px;
            }

            .btn {
                background: #0E8784;
                font-weight: 900;
                // background: #000;
            }
        }
    }

    // Products

    .products {
        .flex__products {
            gap: 40px 0px;
        }

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 36px;

            img {
                margin-bottom: 0px;
            }

            .text {
                text-align: left;

                p {
                    font-family: 'Barlow', sans-serif;

                }
            }
        }
    }

    // Cards For Work

    .cards .container {
        display: flex;
        flex-direction: column;
    }

    .cards .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 55px;
        width: 537px;
        height: 180px;

        img {
            // display: none;
            margin-bottom: 0px
        }

        .text {
            // display: none;
            text-align: left;
        }
    }

    // Work

    .work {
        padding-top: 144px;

        .flex {
            gap: 10px;
        }

        h2 {
            margin-bottom: 50px;
        }

        .cosmetics {
            margin-bottom: 60px;
        }

        .i {
            margin-bottom: 44px;

            b {
                font-size: 28px;
            }

            p {
                font-family: 'Barlow', sans-serif;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }

    .footer {
        .flex {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 54px 0px;

            // gap: ;
            .logo {
                margin-bottom: 33px;
            }

            .text {
                margin-bottom: 65px;
            }

            .icons {
                // margin-bottom: 54px;
            }
        }


    }

}

@media only screen and (max-width:650px) {
    .container {
        max-width: 367px;
    }



    .nav {
        padding: 30px 0px;

        img {
            width: 162px;
        }

        .ul {
            display: none;
        }

        .fa-bars {
            display: block;
            font-size: 25px;
        }
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        .text {
            top: 100px;
            left: 24px;
            text-align: center;
            ;

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 14px;
                max-width: 279px;
                margin-top: 24px;
                margin-bottom: 54px;
                // margin: auto;
            }
        }
    }

    .products {
        .item {
            display: flex;
            flex-direction: column;

            .text {
                text-align: center;
                max-width: 282px;
            }
        }
    }

    .choise {
        .container {
            height: 902px;

            h2 {
                font-size: 28px;
                padding-top: 64px;
            }

            p {
                font-size: 15px;
                margin-top: 24px;
            }
        }

    }

    .cards {

        margin-top: -570px;

        .card {
            display: flex;
            flex-direction: column;
            width: 279px;
            height: 382px;

            .text {
                text-align: center;
            }
        }
    }

    .work{
        h2{
            text-align: center;
        }
        img{
            display: none;
        }
        .flex{
            display: flex;
            flex-direction: column;
        }
    }
}